# =========================
# Android Studio / IntelliJ
# =========================
*.iml
.idea/
.gradle/
.kotlin/

# =========================
# Arquivos locais (NÃO subir)
# =========================
local.properties

# =========================
# Build
# =========================
/build/
/app/build/
/captures/
.externalNativeBuild/
.cxx/

# =========================
# Logs
# =========================
*.log

# =========================
# Sistema Operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# Keystore (NÃO subir chave de assinatura)
# =========================
*.jks
*.keystore

# =========================
# Arquivos temporários
# =========================
*.tmp
*.bak
*.swp

# =========================
# Firebase / Google Services (se gerar local)
# =========================
google-services.json

# =========================
# NDK
# =========================
obj/

# =========================
# Mac
# =========================
*.xcworkspace
